body{
    font-family: 'Readex Pro', sans-serif;
    color: rgb(255, 160, 122);
    background-color: rgb(205, 92, 92);
    text-align: center;
}
#app{
    padding: 10px;
}
h3{
    color: rgb(255, 191, 0);
}
button{
    background-color: rgb(255, 160, 122);
    color: rgb(205, 92, 92);
    border: none;
    font-size: 25px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-family: 'Readex Pro', sans-serif;
}
button:hover{
    background-color: rgb(233, 150, 122);
}